body{
    background-color: #f0f8ff;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    background-color: rgb(15, 126, 170);
    padding: 20px;
    margin: 0;
    color: white;
}

nav{
    text-align: center;
    background-color: #e6f7ff;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: #333;
    margin: 10px;
    font-weight: bold;
}

nav a:hover{
    color: blue;
}

section{
    padding: 20px;
    text-align: center;
}

button{
    padding: 10px 15px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    background-color: deepskyblue;
    color: white;
}

img{
    border-radius: 10px;
    margin: 5px;
}

textarea{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea{
    height: 100px;
}
.galeri img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 10px;
    margin: 5px;
}
.galeri {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.gambar {
    width: 200px;
    height: 200px;
}

.gambar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}